<section
  class="px-8 py-6 rounded-lg border border-gray-300 text-center max-w-5xl mx-auto mt-40 md:mt-56 italic text-xl relative">
  <figure
    class="rounded-full overflow-hidden inline-block border-4 border-gray-100 relative -top-36 -mb-32 md:-top-48 md:-mb-40">
    <img src="/portfolio/profile_photo.JPG" alt="Profile Photo" class="max-w-60 md:max-w-80">
  </figure>
  <h2 class="mb-4 not-italic text-3xl leading-snug font-bold">About me</h2>
  <p class="text-left leading-relaxed">From a young age, technology has been my passion, and over time, that curiosity
    evolved into a path towards software
    development. Currently, I'm in my final year of the University Degree in Programming, strengthening my skills both
    academically and through self-teaching. I love solving problems and creating efficient solutions, and now I'm ready
    to take the next step: finding my first experience in the software development industry, where I can continue
    learning, growing, and adding value.</p>
</section>
