<h2 class="mt-16 mb-4 text-3xl leading-snug font-bold">Coding Skills</h2>
<swiper-container id="skillsSwipper" init="false" class="w-full h-full">
  <swiper-slide class="block h-full w-full">
    <div class="p-4 flex flex-col items-center justify-center space-y-3">
      <img src="icons/nestjs.svg" alt="NestJS icon">
      <span class="font-bold">NestJS</span>
    </div>
  </swiper-slide>
  <swiper-slide class="block h-full w-full">
    <div class="p-4 flex flex-col items-center justify-center space-y-3">
      <img src="icons/mysql.svg" alt="MySQL icon">
      <span class="font-bold">MySQL</span>
    </div>
  </swiper-slide>
  <swiper-slide class="block h-full w-full">
    <div class="p-4 flex flex-col items-center justify-center space-y-3">
      <img src="icons/angular.svg" alt="Angular icon">
      <span class="font-bold">Angular</span>
    </div>
  </swiper-slide>
  <swiper-slide class="block h-full w-full">
    <div class="p-4 flex flex-col items-center justify-center space-y-3">
      <img src="icons/ionicframework.svg" alt="Ionic icon">
      <span class="font-bold">Ionic</span>
    </div>
  </swiper-slide>
  <swiper-slide class="block h-full w-full">
    <div class="p-4 flex flex-col items-center justify-center space-y-3">
      <img src="icons/typescript.svg" alt="Typescript icon">
      <span class="font-bold">Typescript</span>
    </div>
  </swiper-slide>
  <swiper-slide class="block h-full w-full">
    <div class="p-4 flex flex-col items-center justify-center space-y-3">
      <img src="icons/tailwindcss.svg" alt="TailwindCSS icon">
      <span class="font-bold">Tailwind CSS</span>
    </div>
  </swiper-slide>
  <swiper-slide class="block h-full w-full">
    <div class="p-4 flex flex-col items-center justify-center space-y-3">
      <img src="icons/git.svg" alt="Git icon">
      <span class="font-bold">Git</span>
    </div>
  </swiper-slide>
  <swiper-slide class="block h-full w-full">
    <div class="p-4 flex flex-col items-center justify-center space-y-3">
      <img src="icons/docker.svg" alt="Docker icon">
      <span class="font-bold">Docker</span>
    </div>
  </swiper-slide>
  <swiper-slide class="block h-full w-full">
    <div class="p-4 flex flex-col items-center justify-center space-y-3">
      <img src="icons/dotnet.svg" alt="Dotnet icon">
      <span class="font-bold">.NET</span>
    </div>
  </swiper-slide>
  <swiper-slide class="block h-full w-full">
    <div class="p-4 flex flex-col items-center justify-center space-y-3">
      <img src="icons/wordpress.svg" alt="Wordpress icon">
      <span class="font-bold">Wordpress</span>
    </div>
  </swiper-slide>
  <swiper-slide class="block h-full w-full">
    <div class="p-4 flex flex-col items-center justify-center space-y-3">
      <img src="icons/javascript.svg" alt="Javascript icon">
      <span class="font-bold">Javascript</span>
    </div>
  </swiper-slide>
  <swiper-slide class="block h-full w-full">
    <div class="p-4 flex flex-col items-center justify-center space-y-3">
      <img src="icons/php.svg" alt="PHP icon">
      <span class="font-bold">PHP</span>
    </div>
  </swiper-slide>
  <swiper-slide class="block h-full w-full">
    <div class="p-4 flex flex-col items-center justify-center space-y-3">
      <img src="icons/html5.svg" alt="HTML icon">
      <span class="font-bold">HTML</span>
    </div>
  </swiper-slide>
  <swiper-slide class="block h-full w-full">
    <div class="p-4 flex flex-col items-center justify-center space-y-3">
      <img src="icons/css.svg" alt="CSS icon">
      <span class="font-bold">CSS</span>
    </div>
  </swiper-slide>
</swiper-container>
