<header class="bg-red-800 p-6">
  <nav class="mx-auto max-w-7xl">
    <ul class="bg-black py-1 w-full flex justify-end space-x-4">
      <li><a class="block py-2 px-4 hover:border-b-2 rounded-sm" [routerLink]="'/skills'"
          routerLinkActive="bg-red-600">Skills</a></li>
      <li><a class="block py-2 px-4 hover:border-b-2 rounded-sm" [routerLink]="'/projects'"
          routerLinkActive="bg-red-600">Projects</a></li>
      <li><a class="block py-2 px-4 hover:border-b-2 rounded-sm" [routerLink]="'/resume'"
          routerLinkActive="bg-red-600">Resume</a></li>
      <li><a class="block py-2 px-4 hover:border-b-2 rounded-sm" [routerLink]="'/contact'"
          routerLinkActive="bg-red-600">Contact</a></li>
    </ul>
  </nav>
</header>
<main>
  <app-skills></app-skills>

  <app-projects></app-projects>

  <app-resume></app-resume>

  <app-contact></app-contact>
</main>
