<section class="mt-16 px-8 pt-6 rounded-lg border border-gray-300 text-center max-w-4xl mx-auto text-lg">
  <h2 class="mb-4 text-3xl leading-snug font-bold">Contact me</h2>
  <p>Feel free to get in touch with me! If you have any questions, collaboration opportunities, or just want to say
    hello, you can reach me through the following channels:</p>
  <div class="my-4 flex flex-col space-y-4 items-center md:flex-row md:space-y-0 md:space-x-4">
    <a href="https://github.com/patricio-jp" target="_blank"
      class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg px-5 py-2.5 text-center flex items-center whitespace-nowrap">
      <fa-icon [icon]="githubIcon" class="mr-2"></fa-icon>
      View my Github profile
    </a>
    <a href="https://www.linkedin.com/in/patricio-agust%C3%ADn-jimenez-paz/" target="_blank"
      class="text-white bg-[#0077B5] hover:bg-[#0077B5]/90 focus:ring-4 focus:outline-none focus:ring-[#0077B5]/50 font-medium rounded-lg px-5 py-2.5 text-center flex items-center whitespace-nowrap">
      <fa-icon [icon]="linkedInIcon" class="mr-2"></fa-icon>
      Connect with me on LinkedIn
    </a>
    <a href="mailto:patojimenezpaz@gmail.com" title="patojimenezpaz@gmail.com" target="_blank"
      class="text-white bg-gray-600 hover:bg-gray-700 focus:ring-gray-700 focus:ring-4 focus:outline-none font-medium rounded-lg px-5 py-2.5 text-center flex items-center whitespace-nowrap">
      <fa-icon [icon]="emailIcon" class="mr-2"></fa-icon>
      Send me an email
    </a>
  </div>

</section>
