/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url('../public/code-5113374_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

a.active {
  @apply bg-red-600;
}
